body{
    background-color: greenyellow;
    margin: 0%;
    padding: 0%;
}
h1{
    margin: 0%;
}0
.contaner1{
    height: 100px;
    background-color: antiquewhite;
    margin: 0%;
   
}
.contaner2{
    height: 100px;
    width: 100px;
    background-color: rgb(218, 172, 111);
}
.contaner3{
    height: 100px;
    width: 100px;
    background-color: rgb(137, 233, 136);
}